@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); 

html, body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
	color: #212529;
}

p {
	font-size: 1.25rem;
}

.intro {
	z-index: 2;
}
/* nav */
.nav {
	font-weight: 700;
	font-size: 4.4rem;
	line-height: 1;
}
.navbar {
	background-color: #E94949;
}
.nav-link {
	color: #212529;
	display: inline-block;
	padding: 0 .5rem;
}

.nav-link:hover {
	color: #ffffff;
	background-color: #212529;
  }

.active {
	color: #ffffff;
	background-color: #212529;
}

/* Hero section  */
.hero {
	background-color: #E94949;
	background-image: url(img/hero-title-1.svg);
	background-size: 22.5rem;
	background-repeat: no-repeat;
	background-position: right 0px bottom -1px;
}

.portrait {
	padding-left: 5px;
	padding-right: 5px;
}

/* blockquote */
blockquote p {
	font-size: 1rem;
}

.blockquote-footer {
	color: #212529;
	font-size: 1rem;
}

.blockquote-footer::before {
	display: none;
}

.quote-image {
	z-index: 1;
	margin-top: -50px;
	margin-left: -10px;
}

/* headings */
.text-red {
	color: #E94949;
}
.display-4, .display-3, .display-2 {
	line-height: 1;
}

.lead {
	font-size: 1.4rem;
	line-height: .4;
}

/* images */
.testimonial-image {
	width: 6rem;
    height: 6rem;
}

.client-logo {
    width: 250px;
}

/**
 * Enable smooth scrolling on the whole document
 */
 html {
	scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
 @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}