@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

html, body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
	color: #212529;
}

.testimonial-image {
	width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.client-logo {
    width: 250px;
}

/**
 * Enable smooth scrolling on the whole document
 */
 html {
	scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
 @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* Hero section  */
.hero {
	background-color: #E94949;
	background-image: url(img/hero-title-1.svg);
	background-size: 33rem;
	background-repeat: no-repeat;
	background-position: right 0px bottom 0px;
}

.hero-image {
	padding-bottom: 9rem;
}

/* nav */
.nav {
	font-weight: 700;
	font-size: 4.4rem;
}
.navbar {
	background-color: #E94949;
}
.nav-link {
	color: #212529;
	display: inline-block;
	padding: 0 .5rem;
}

.nav-link:hover {
	color: #ffffff;
	background-color: #212529;
  }

.active {
	color: #ffffff;
	background-color: #212529;
}

.text-red {
	color: #E94949;
}