@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); 

html, body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
	color: #212529;
}

a {
	color: #212529;
}

a:hover {
	color: #E94949;;
}

p, a {
	font-size: 1.25rem;
}

.display-4 {
	line-height: 1.1;
}

.display-3 {
	line-height: 1;
}

/* Intro  */
.intro {
	z-index: 2;
}

/* nav */

.nav {
	padding-left: 15px;
}

.nav a {
	font-weight: 700;
	font-size: 4.4rem;
	line-height: 1.1;

}

.nav-link {
	color: #212529;
	display: inline-block;
	padding: 0 .5rem;
	margin-bottom: .6rem;
}

.nav-link:hover {
	color: #ffffff;
	background-color: #212529;
  }

.active {
	color: #ffffff;
	background-color: #212529;
}

/* Hero section  */
.hero {
	background-image: url(img/who.svg);
	background-size: 22rem;
	background-repeat: no-repeat;
	background-position: right 0px bottom -1px;
}

.what {
	background-image: url(img/what.svg);
	background-size: 22rem;
	background-repeat: no-repeat;
	background-position: right 0px bottom -1px;
}

.work {
	background-image: url(img/work.svg);
	background-size: 22rem;
	background-repeat: no-repeat;
	background-position: right 0px bottom -1px;
}

.background-red {
	background-color: #E94949;
}

.background-green {
	background-color: #18CB68;
}

.background-blue {
	background-color: #499CE9;
}

.hero-image {
	padding-bottom: 2.5rem;
}

.margin-0 {
	padding-left: 0px;
	padding-right: 0px;
}

.padding {
	padding-right: 0px;
	padding-left: 0px;
}

/* blockquote */
.blockquote-footer {
	color: #212529;
	font-size: 1rem;
	line-height: 1.5;
}

.blockquote-footer::before {
	display: none;
}

.quote-image {
	z-index: 1;
	margin-top: -50px;
	margin-left: -10px;
}

/* headings */
.text-red {
	color: #E94949;
}

.text-green {
	color: #18CB68;
}

.text-blue {
	color: #499CE9;
}

.lead {
	font-size: 1.4rem;
	line-height: .4;
}

/* images */
.testimonial-image {
	width: 6rem;
    height: 6rem;
}

.client-logo {
    width: 250px;
}
 footer {
	 background-color: #F1F5F5;
 }

 footer p {
	 margin-bottom: 0;
 }
footer li {
	list-style: none;
}

footer a {
	text-decoration: underline;

}

footer ul {
	margin: 0;
}

.footer-text {
	font-size: .9rem;
	padding-top: .5rem;
}

/**
 * Enable smooth scrolling on the whole document
 */
 html {
	scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
 @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) {
	.hero-image {
		padding-bottom: 3.5rem;
	}
	.hero, .what, .work {
		background-size: 26rem;
	}
}

@media (min-width: 414px) {
	.hero-image {
		padding-bottom: 4rem;
	}
	.hero, .what, .work {
		background-size: 28rem;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.hero-image {
		padding-bottom: 9rem;
	}
	.hero, .what, .work {
		background-size: 52rem;
	}
	.card {
		padding-left: 1rem;
		border: none;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.hero, .what, .work {
		background-size: 60rem;
	}
 }