
.hero {
    background: url(img/hero-image.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    height: 100vh;
    background-position: 0 0;

}